@font-face {
    font-family:'千图小兔体';
    src:url('https://cdn.jsdelivr.net/gh/LVXUEYANGTiger/blog@main/%E5%8D%83%E5%9B%BE%E5%B0%8F%E5%85%94%E4%BD%93.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:千图小兔体!important
}
span#subtitle {
    font-family:千图小兔体!important
}
a#site-name {
    font-family:千图小兔体!important
}

#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}